.indexArea .headerArea { width: 100%; display: inline-flex; justify-content: center; }
.indexArea .imgArea { width: 100%; }

.indexArea .imgArea table { width: 100%; }
.indexArea .imgArea table tbody { display: inline-flex; width: inherit; align-items: center; justify-content: center; flex-direction: column; }

.indexArea .imgArea table tr td:first-child { text-align: right; }
.indexArea .imgArea table tr td:last-child { text-align: left; }
.indexArea .imgArea table td { width: 47%; padding: 3%; text-align: center; }
.indexArea .imgArea table td img.mainImg { max-width: calc(100% - 3%); filter: brightness(1); transition: all 0.2s linear; cursor: pointer; }
.indexArea .imgArea table td img.mainImg:hover { filter: brightness(1.2); }

