.LUArea .LUWrap .itemArea { 
    width: 100%; height: calc(80% - 200px); padding-bottom: 200px;
    /* max-height: 800px; */
    position: relative; z-index: 997;
    display: inline-flex; justify-content: center; align-items: center; flex-direction: row; align-content: center;
}

.LUArea .LUWrap .itemArea.itemFicKor { 
    height: -moz-fit-content; height: fit-content; padding-bottom: 0; align-items: flex-start; 
}

.LUArea .LUWrap .itemArea .lineups .lineup { margin: 16px; height: fit-content; }
.LUArea .LUWrap .itemArea .lineups .lineup h1 { width: 250px; text-transform: none; font-size: 40px; line-height: 56px; background: url(../../public/assets/img/04_LINEUP_board.jpg) no-repeat; background-position: center; background-size: 100% 100%; text-align: center; z-index: 997; }