
.listArea .listItemArea { position: relative; width: 100%; z-index: 998; display: inline-flex; flex-direction: column; justify-content: center; align-items: center; }

.listArea .listItemArea > div { text-align: center; }
.listArea .listItemArea img.listItem { max-width: 80%; margin: 2% 0; cursor: pointer; transition: all 0.3s ease-in-out; filter: brightness(0.7); 
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1); }
.listArea .listItemArea img.listItem:hover { filter: brightness(1.1); }
.listArea .listItemArea .listKor {}
.listArea .listItemArea .listAbd {}