
.stationArea .detailArea {
    position: relative; z-index: 998; margin: 40px 0;
    width: 50%;
    padding: 90px 2%; background: #d4cef6; pointer-events: visible; 
}

.stationArea .detailArea:before {
    content: '';
    width: calc(100% + 40px); height: calc(100% + 40px);
    position: absolute; top: -22px; left: -22px; z-index: 1; background: transparent; border: 2px dotted #eee; pointer-events: none; 
}

.stationArea .detailArea p { margin: 0; }

.stationArea .detailArea.detailArt h3,
.stationArea .detailArea.detailVdo h3 { margin: 30px 0 30px; }
.stationArea .detailArea.detailArt h4,
.stationArea .detailArea.detailVdo h4 { margin: 0 0 50px; }

.stationArea .detailArea h3 { margin: 70px 0 50px; }
.stationArea .detailArea h4 { margin: 0 0 100px; }
.stationArea .detailArea h3.textArea { white-space: pre-wrap; }
.stationArea .detailArea h5 { text-align: justify; }

.stationArea .iframeArea { margin-bottom: 100px; }
.stationArea .detailArea span.tc { font-family: "Noto Serif TC", serif; }
.stationArea .detailArea span.jp { font-family: "Noto Serif JP", serif; font-weight: 300; }
.stationArea .detailArea span.ru { font-family: "Noto Serif", serif; font-weight: 400; }

.stationArea .detailArea .imgArea { width: 100%; }
.stationArea .detailArea .imgArea .imgCntn { width: 100%; cursor: pointer; }

.stationArea .detailArea div .vdoArea { position: relative; width: 100%; height: 0; padding-bottom: 59.25%; }
.stationArea .detailArea div .vdoArea iframe,
.stationArea .detailArea div .vdoArea object,
.stationArea .detailArea div .vdoArea embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}